
mat-form-field {
    display: block;
}
mat-spinner {
    margin: auto;
}
* {
    box-sizing: border-box;
}
.chatSection {
    position: relative;
    display: inline-block;
    width: 50%;
    float: left;
    height: 100%;
    border: 1px solid #ababab;
}

mat-card {
    width: 50%;
    display: inline-block;
    float: left;
}
.chatSectionDetails {
    transform: translate(-50%, -50%);
    top: 43%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: clamp(15px, 0vw, 30px);
    font-weight: bold;
    color: #6d6d6d;
}